table(role='presentation', style='width:100%;border-collapse:collapse;border:0;border-spacing:0;')
    tbody
        tr
            td(align='center', style='padding: 0px; padding-top: 20px;')
                table(role='presentation', style='width:100%;border-collapse:collapse;border:0;border-spacing:0;')
                    tbody
                        tr
                            td(align='center', style='padding: 0px;')
                                img(src='https://cdn-9io.pages.dev/src/images/LogoHorizontal.png', style='display:block; border:0')
                        tr
                            td(align='center', style='padding: 0px; padding-top: 30px;')
                            table(role='presentation', style='border-collapse:collapse;border:0;border-spacing:0;')
                                tbody
                                    tr
                                        td
                                            a(href='https://apps.apple.com/us/app/apple-store/id1169587664')
                                                img(src='https://cdn-9io.pages.dev/src/images/assets/IOS.png', style='display:block; border:0')
                                        td &nbsp;&nbsp;
                                        td
                                            a(href='https://play.google.com/store/apps/details?id=com.simsim.android')
                                                img(src='https://cdn-9io.pages.dev/src/images/assets/google_play.png', style='display:block; border:0')
                        tr
                            td(align='center', style='padding: 0px; padding-top: 30px;')
                            table(role='presentation', style='border-collapse:collapse;border:0;border-spacing:0;')
                                    tbody
                                    tr
                                        td
                                            a(href='https://www.facebook.com/SimSimRecipes')
                                                img(src='https://cdn-9io.pages.dev/src/images/assets/facebook.png', style='display:block; border:0')
                                        td &nbsp;&nbsp;
                                        td
                                            a(href='https://www.instagram.com/simsimrecipes')
                                                img(src='https://cdn-9io.pages.dev/src/images/assets/instagram.png', style='display:block; border:0')
                        tr
                            td(align='center', style='padding: 0px; padding-top: 0px;')
                                table(role='presentation', style='border-collapse:collapse;border:0;border-spacing:0;')
                                    tbody
                                        tr
                                            td(align='center')
                                                p(style='\
                                                font-family: Avenir,  sans-serif;\
                                                font-style: normal;\
                                                font-weight: 400;\
                                                font-size: 16px;\
                                                line-height: 132%;\
                                                text-align: center;\
                                                letter-spacing: -0.02em;\
                                                color: #ffffff;\
                                                ')
                                                    | To contact us with any questions, concerns or suggestions, please email: 
                                                    a(href='mailto:info@simsimrecipes.com', style='\
                                                    font-family: Avenir,  sans-serif;\
                                                    font-style: normal;\
                                                    font-weight: 400;\
                                                    font-size: 16px;\
                                                    line-height: 132%;\
                                                    text-align: center;\
                                                    letter-spacing: -0.02em;\
                                                    color: #ffffff;\
                                                    ') info@simsimrecipes.com
                                        tr
                                            td(align='center')
                                                p(style='\
                                                font-family: Avenir,  sans-serif;\
                                                font-style: normal;\
                                                font-weight: 400;\
                                                font-size: 16px;\
                                                line-height: 132%;\
                                                text-align: center;\
                                                letter-spacing: -0.02em;\
                                                color: #ffffff;\
                                                ') &copy;2022 SimSim Recipes LLC. All rights reserved
                                        tr
                                            td(align='center')
                                                p(style='\
                                                font-family: Avenir,  sans-serif;\
                                                font-style: normal;\
                                                font-weight: 400;\
                                                font-size: 16px;\
                                                line-height: 132%;\
                                                text-align: center;\
                                                letter-spacing: -0.02em;\
                                                color: #ffffff;\
                                                ')
                                                    a(href='{$unsubscribe}', style='\
                                                    font-family: Avenir,  sans-serif;\
                                                    font-style: normal;\
                                                    font-weight: 400;\
                                                    font-size: 14px;\
                                                    line-height: 132%;\
                                                    text-align: center;\
                                                    letter-spacing: -0.02em;\
                                                    color: #ffffff;\
                                                    ') Unsubscribe