@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-Black.eot');
    src: url('fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirLTStd-Black.woff2') format('woff2'),
         url('fonts/AvenirLTStd-Black.woff') format('woff'),
         url('fonts/AvenirLTStd-Black.ttf')  format('truetype'),
         url('fonts/AvenirLTStd-Black.svg#Avenir LT Std') format('svg');
}
@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-Roman.eot');
    src: url('fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirLTStd-Roman.woff2') format('woff2'),
         url('fonts/AvenirLTStd-Roman.woff') format('woff'),
         url('fonts/AvenirLTStd-Roman.ttf')  format('truetype'),
         url('fonts/AvenirLTStd-Roman.svg#Avenir LT Std') format('svg');
}